<?php echo $block->addRecaptachJs()?>
<div class="page-title" style="margin-bottom: 0px">
	<h1><?php echo __('Please verify you are human...'); ?></h1>
</div>
<div class="std">
	<p><b><?php echo __('Please enter the CAPTCHA code to continue using our store.') ?></b> <?php echo __("We apologize for the inconvenience, but we cannot tell if you are a human or a bot. Entering the CAPTCHA will help us verify that you are a human.") ?></p>
</div>
<form action="<?php echo $block->getActionUrl()?>" method="POST">
    <div class="g-recaptcha" data-sitekey="<?php echo $block->getSiteKey()?>"></div>
	<button type="submit">Validate</button>
</form>